﻿body {
}

.bear-list-container li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
    background-color: #ecf0f1;
    border-bottom: 1px solid black;
    height: 50px;
}

.bear-list-container .list-group-item {
    margin-top: 2px;
}

    .bear-list-container .list-group-item:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }